USE [master]
GO
/****** Object:  Database [BaseNoRole]    Script Date: 25.02.2021 19:43:06 ******/
CREATE DATABASE [BaseNoRole]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseNoRole', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseNoRole.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseNoRole_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseNoRole_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseNoRole].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseNoRole]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.02.2021 19:43:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[PassHash] [varchar](50) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[MName] [varchar](50) NULL,
	[LName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (1, N'Ivan', N'202CB962AC59075B964B07152D234B70', N'Иван', NULL, N'Иванов')
INSERT [dbo].[User] ([ID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (2, N'Petr', N'202CB962AC59075B964B07152D234B70', N'Петр', NULL, N'Петров')
INSERT [dbo].[User] ([ID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (3, N'Vasek', N'202CB962AC59075B964B07152D234B70', N'Вася', NULL, N'Васечкин')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
